body {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 180px;
    width: 180px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem 1rem 2rem 1rem;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

button {
    padding: 0.75rem;
    width: 6rem;
    border: 3px solid black;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.game-flash {
    background-color: white;
}

.user-flash {
    background-color: green;
}

@media (max-width: 480px) {
    .btn-container {
        display: block;
    }
    .line-one, .line-two {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn {
        height: 120px;
        width: 120px;
        border: 5px solid black;
        margin: 0 0 1.25rem 0;    
    }
    button {
        padding: 0.4rem;
        width: 5rem;
        font-size: 0.90rem;
        margin-bottom: 1.25rem;
    }
}